:root {
  --primary-font: 'Open Sans', sans-serif;
  --primary-font-color: #000000;
  --primary-bgc: #ffffff;
  --header-bgc: #312f30;
  --accent-color: #ff3f40;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}

body {
  background-color: var(--primary-bgc);
  font-family: var(--primary-font);
  color: var(--primary-font-color);
}

.container {
  width: 1249px;
  margin: 0 auto;
}

/* Портфолио */

.features-title {
  font-size: 42px;
  letter-spacing: 0.009em;
  text-align: center;
  text-transform: uppercase;
}

.feautures-description {
  /* margin-top: 35px; */
  /* letter-spacing: 0.002em; */
  position: relative;
  margin: 18px auto 0;
  padding-left: 3px;
  max-width: 510px;

  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  hyphens: auto;
}

.feautures-description::after {
  position: absolute;
  bottom: -27px;
  left: 191px;
  content: '';
  width: 130px;
  height: 2px;
  background-color: var(--accent-color);
}

.portfolio-filter {
  margin-top: 110px;
  margin-bottom: 60px;
  padding-left: 180px;
  display: flex;
  align-items: center;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 45px;
}

.portfolio-filter-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.1;
  letter-spacing: 0.006em;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -38px;
}

.portfolio-list-item {
  flex-basis: calc(100% / 4 - 20px);
  margin-top: 20px;
  margin-left: 17px;
}

.block {
  width: 100%;
  height: 290px;
  background-color: #f8f4dc;
}

.team-title {
  margin-top: 132px;
  margin-left: -27px;
  font-size: 42px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.team-description {
  position: relative;
  max-width: 450px;
  margin-top: 25px;
  margin-left: -13px;
  font-size: 16px;
  line-height: 1.75;
  hyphens: manual;
}

.team-description::after {
  position: absolute;
  bottom: -32px;
  left: 1px;
  content: '';
  width: 130px;
  height: 2px;
  background-color: var(--accent-color);
}

.team-meta {
  margin-top: 102px;
  display: flex;
}

.image-substitute {
  margin-left: -16px;
  width: 321px;
  height: 457px;
  background-color: #f8f4dc;
}

.team-info {
  padding-top: 6px;
  margin-left: 70px;
}

.team-member-title {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.31;
}

.team-member-description {
  max-width: 640px;
  margin-top: 20px;
  padding-left: 3px;
  line-height: 1.78;
}

.team-social-links-list {
  margin-top: 34px;
  padding-left: 4px;
  display: flex;
  align-items: center;
}

.team-social-links-list-item:not(:last-child) {
  margin-right: 29px;
}
.team-social-links-list-item:nth-child(3) {
  margin-left: 2px;
}
.team-social-links-list-item:last-child {
  margin-left: 7px;
}

.team-social-link {
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.06rem;
  line-height: 1.33;
  color: var(--primary-font-color);
}

.team-portfolio {
  margin-top: 64px;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.team-portfolio-item {
  position: relative;
}

.team-portfolio-item:not(:last-child) {
  margin-right: 20px;
}

.team-img-substitute {
  width: 197px;
  height: 214px;
  background-color: #f8f4dc;
}

.team-member-name {
  padding-top: 5px;
  padding-bottom: 11px;
  padding-left: 5px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;

  letter-spacing: 0.01rem;

  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #807c6c;
}
.team {
  padding-bottom: 110px;
}
/* 197 x 214 */
.dispatch {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(./images/dispatch-bg.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
}
.dispatch-title {
  padding-top: 145px;
  padding-left: 56px;
  margin-bottom: 37px;
  font-size: 42px;
  line-height: 0.57;
  letter-spacing: 0.069rem;
  color: #ffffff;
}

.dispatch-text {
  margin-bottom: 58px;
  font-size: 16px;
  line-height: 1.75;
  color: #ffffff;
  text-align: center;
  margin-left: -29px;
  /* padding-left: 338px; */
}
.dispatch-form {
  padding-bottom: 140px;
  padding-left: 232px;
  display: flex;
  align-items: center;
}

.dispatch-input {
  margin-right: 21px;
  padding-left: 34px;
  width: 521px;
  height: 79px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03rem;
  border: none;
  border-radius: 5px;
}

.dispatch-button {
  display: block;
  min-width: 214px;
  min-height: 78px;

  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.68;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  padding-left: 7px;
  color: #ffffff;
  background-color: var(--accent-color);
}

.connection {
  padding-top: 98px;
  padding-bottom: 110px;
}

.connection-title {
  margin-left: -17px;
  font-size: 42px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.connection-text {
  position: relative;
  margin-top: 36px;
  margin-left: -14px;

  max-width: 722px;
  font-size: 16px;
  line-height: 1.75;
}

.connection-text::after {
  position: absolute;
  content: '';
  bottom: -52px;
  left: 0;

  width: 130px;
  height: 2px;
  background-color: var(--accent-color);
}

.connection-block-wrapper {
  position: relative;
  margin-top: 129px;
}

.connection-form {
  margin-left: -16px;
  width: 732px;
  display: flex;
  flex-wrap: wrap;
}

.connection-input {
  width: 339px;
  height: 68px;
  padding-left: 47px;

  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 6px;

  font-size: 16px;
  line-height: normal;
}

.connection-input::placeholder {
  line-height: inherit;
}

.connection-input.correction {
  font-size: 18px;
  padding-left: 52px;
  padding-bottom: 4px;
  letter-spacing: 0.02rem;
}

.connection-input:not(:last-of-type) {
  margin-right: 54px;
}

.connection-textarea {
  padding-left: 51px;
  padding-top: 31px;

  width: 100%;
  height: 249px;
  resize: none;
  margin-top: 46px;

  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 11px;
}

.connection-submit-btn {
  display: block;
  margin-top: 45px;
  margin-left: 2px;
  padding-left: 8px;

  width: 100%;
  max-width: 729px;
  height: 72px;
  border: 1px solid var(--accent-color);
  border-radius: 7px;
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.021rem;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-info-wrapper {
  padding-top: 133px;
  padding-left: 78px;
  position: absolute;
  top: 0;
  right: -149px;
  width: 575px;
  height: 481px;
  background-color: #2d2d2d;
}

.contact-info-title {
  font-size: 18px;
  line-height: 1.89;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 00.03rem;
}

.contact-info-list {
  max-width: 290px;
  margin-top: 27px;
  padding-left: 2px;
}

.contact-info-link {
  display: block;
  color: #ffffff;
  line-height: 1.65;
}

.contact-info-list-item:not(:last-child) {
  margin-bottom: 19px;
}

.footer {
  /* padding-top: 55px; */
  padding-top: 47px;
  padding-bottom: 37px;
  background-color: #313030;
}

.footer .container {
  display: flex;
  align-items: center;
  padding-right: 68px;
}

.copyright {
  margin-left: -15px;
  color: #b8b8b8;
}

/* 716px */

.social-list-links {
  margin-left: auto;
  margin-right: -53px;

  align-self: flex-end;
  display: flex;
  align-items: center;
}

.social-list-links-item:not(:last-child) {
  margin-right: 18px;
}
