:root {
  --primary-font: 'Open Sans', sans-serif;
  --primary-font-color: #000000;
  --primary-bgc: #ffffff;
  --header-bgc: #312f30;
  --accent-color: #ff3f40;
  --additional-color: #838383;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}

body {
  background-color: var(--primary-bgc);
  font-family: var(--primary-font);
  color: var(--primary-font-color);
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;

  padding: 60px 40px;

  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 250ms linear;

  background-color: var(--header-bgc);
}

.is-open {
  transform: translate(-50%);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 100;
}

.mobile-menu-open-btn {
  display: block;
  margin-left: auto;
  padding: 0;

  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--header-bgc);
  }

  .header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-list-item:not(:last-child) {
    margin-right: 40px;
  }
  .nav-list-link {
    padding-top: 22px;
    padding-bottom: 23px;
    padding-left: 3px;
    padding-right: 3px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 700;

    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }
  .nav-list-link.active {
    background-color: #ff3f40;
  }
}

.burger-btn-icon {
  width: 20px;
  height: 20px;
  fill: #ff3f40;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 22px;
  padding: 0;

  border: 0;
  background-color: transparent;
}

.mobile-nav-list-item {
  padding-bottom: 5px;
  border-bottom: 1px solid #ff3f40;
}

.mobile-nav-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-nav-list-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.06em;
  /* color: #000000; */
  color: #ffffffff;
}

.close-btn-icon {
  width: 20px;
  height: 20px;
  fill: #ff3f40;
}

.hero {
  background-color: #f6f2f2;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  text-align: center;
}

.hero-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: justify;
}

.hero-img-wrapper {
  display: none;
}

.modal-button {
  display: block;
  margin: 5px auto auto;
  padding-top: 5px;
  padding-bottom: 5px;
  align-self: center;
  min-width: 160px;
  border: none;
  border-radius: 5px;
  background-color: #ff3f40;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .hero-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }

  .hero-title {
    text-align: start;
  }

  .hero-img-wrapper {
    display: block;
    width: 40%;
    box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
  }

  .modal-button {
    align-self: flex-start;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    margin-top: 40px;
    margin-bottom: 60px;
    max-width: 544px;
    font-size: 16px;
    hyphens: auto;
  }

  .modal-button {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 228px;
    font-size: 18px;
    text-transform: none;
  }
}

.services-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.services-button {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;

  min-width: 160px;
  border: 1px solid #ff3f40;
  border-radius: 5px;
  background-color: transparent;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #ff3f40;
}

.services-text {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: justify;
}

.services-list-wrapper {
  margin-top: 20px;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin: 0 auto;
}

.services-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .services-list-item:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }
}

.service-descr {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: justify;
  hyphens: auto;
}

@media screen and (min-width: 768px) {
  .services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
  }

  .services-list-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }

  .services-text {
    text-align: center;
  }
}

.features-title {
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .services .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .services-title {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: start;
  }
  .services-title-wrapper {
    width: 50%;
  }
  .services-list-wrapper {
    width: 50%;
  }

  .services-list {
    margin-top: -30px;
    margin-left: -60px;
  }

  .services-list-item {
    flex-basis: calc(100% / 2 - 60px);
    margin-top: 30px;
    margin-left: 60px;
  }

  .icon {
    margin: 0;
  }

  .service-title {
    margin-top: 5px;
  }

  .services-text {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 494px;
    font-size: 16px;
    text-align: start;
    hyphens: auto;
  }

  .services-button {
    min-width: 227px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 60px;
    line-height: 1.2;
  }
}

.feautures-description {
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-align: center;
}

.feautures-description::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 100%;
  max-width: 130px;
  transform: translateX(-50%);
  height: 2px;
  content: '';
  background-color: var(--accent-color);
}

.portfolio-filter {
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-filter-button {
  padding: 2px 4px;

  border: none;
  background: transparent;
  cursor: pointer;

  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.portfolio-filter-button.active {
  color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-list-item {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width: 767px) {
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .portfolio-list-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .features-title {
    font-size: 42px;
    margin-bottom: 40px;
  }

  .feautures-description {
    max-width: 510px;
    margin: 0 auto;
  }

  .portfolio-filter {
    margin-top: 80px;
  }

  .portfolio-filter-button {
    font-size: 22px;
  }

  .portfolio-list-item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-title {
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  text-align: center;
  text-transform: uppercase;
}

.team-description {
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-align: center;
}

.team-description::after {
  position: absolute;
  bottom: -10px;
  left: 50%;

  width: 100%;
  max-width: 130px;
  transform: translateX(-50%);
  height: 2px;
  content: '';
  background-color: var(--accent-color);
}

.team-info {
  margin-top: 10px;
}

.team-member-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-align: center;
}

.team-member-description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  /* letter-spacing: 0.03em; */

  text-align: justify;
}

.team-social-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-social-link {
  font-style: italic;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #838383;
  cursor: pointer;
}

.team-portfolio {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-portfolio-item {
  position: relative;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.team-member-img {
  width: 100%;
}

.team-member-name {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;

  padding-bottom: 5px;
  text-align: center;
  background-color: #7a786e;

  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .team-portfolio-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team-meta {
    display: flex;
    align-items: flex-end;
  }

  .team-info {
    margin-top: 0;
  }

  .team-member-description {
    text-align: center;
  }

  .team-social-links-list {
    justify-content: center;
    margin-bottom: 20px;
  }

  .team-social-links-list-item:not(:last-child) {
    margin-right: 10px;
  }
  .team-portfolio {
    flex-direction: row;
    justify-content: space-between;
  }
  .team-portfolio-item {
    flex-basis: calc(100% / 4 - 10px);
  }
  .team-member-name {
    padding-bottom: 0;
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .team-title {
    text-align: start;
    font-size: 42px;
  }

  .team-description {
    max-width: 440px;
    text-align: start;
  }

  .team-description::after {
    bottom: -20px;
    left: 0;
    transform: translateX(0);
  }

  .team-info {
    align-self: flex-start;
  }

  .team-member-title {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: start;
    text-transform: uppercase;
    font-weight: 600;
  }

  .team-member-description {
    margin-bottom: 30px;
    font-size: 16px;
    text-align: start;
    max-width: 630px;
  }
  .team-social-links-list {
    margin-bottom: 110px;
    justify-content: flex-start;
  }
  .team-social-link {
    font-size: 18px;
  }
}

.dispatch {
  margin: 0 auto;
  max-width: 480px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(./images/dispatch-mobile-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #312f30;
}

@media screen and (min-width: 768px) {
  .dispatch {
    max-width: 1279px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(./images/dispatch-tablet-bg.jpg);
  }
}

.dispatch-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .dispatch-form {
    width: 100%;
  }
}

.dispatch-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #ffffff;

  text-align: center;
}

.dispatch-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  text-align: justify;
}

.dispatch-input {
  display: block;
  padding-left: 10px;

  width: 100%;
  max-width: 425px;
  height: 40px;

  border: none;
  border-radius: 5px;
  background: #ffffff;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.dispatch-button {
  display: block;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-self: center;

  min-width: 160px;
  border: none;
  border-radius: 5px;
  background-color: #ff3f40;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #ffffff;

  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .dispatch .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .dispatch-title {
    font-size: 42px;
    font-weight: 700;
  }
  .dispatch-text {
    font-size: 16px;
  }
  .dispatch-form {
    max-width: 770px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
  }
  .dispatch-input {
    max-width: 520px;
    height: 60px;
    font-size: 18px;
  }
  .dispatch-button {
    min-width: 227px;
    min-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .dispatch.section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.connection-title {
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  text-align: center;
  text-transform: uppercase;
}

.connection-text {
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  text-align: justify;
  hyphens: auto;
}

.connection-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connection-input {
  margin-bottom: 5px;
  padding-left: 10px;

  width: 100%;
  max-width: 425px;
  height: 40px;

  border: none;
  border-radius: 5px;
  background: #e5e5e5;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.connection-textarea {
  margin-bottom: 5px;
  padding-left: 10px;

  width: 100%;
  max-width: 425px;
  height: 120px;
  resize: none;

  border: none;
  border-radius: 5px;
  background: #e5e5e5;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.connection-submit-btn {
  padding-top: 5px;
  padding-bottom: 5px;

  align-self: center;
  min-width: 160px;
  border: none;
  border-radius: 5px;
  background-color: #ff3f40;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #ffffff;

  text-transform: uppercase;
}

.contact-info-wrapper {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 5px;
  background-color: #2d2d2d;
}

.contact-info-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #ffffff;

  text-align: center;
}

.address {
  padding-left: 10px;
}

.contact-info-list {
  margin-top: 10px;
}

.contact-info-list-item:not(:last-child) {
  margin-bottom: 5px;
}

.contact-info-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .connection-block-wrapper {
    position: relative;
  }

  .connection-form {
    max-width: 425px;
    align-items: start;
  }

  .contact-info-wrapper {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 60%;
    padding-bottom: 112px;
  }

  .connection-input {
    margin-bottom: 15px;
  }

  .connection-textarea {
    margin-bottom: 15px;
  }

  .connection-submit-btn {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .connection-title {
    font-size: 42px;
    text-align: start;
  }
  .connection-text {
    max-width: 665px;
  }
  .connection-form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 665px;
  }
  .connection-input {
    padding-left: 30px;
    max-width: 45%;
    height: 60px;
    font-size: 16px;
  }
  .connection-textarea {
    padding-left: 50px;
    padding-top: 30px;
    max-width: none;
    height: 245px;
    font-size: 16px;
  }

  .connection-submit-btn {
    min-height: 70px;
  }

  .contact-info-wrapper {
    height: 100%;
    width: 555px;
    padding-top: 130px;
    padding-left: 60px;
    border-radius: 0;
  }
  .contact-info-title {
    font-size: 18px;
    font-weight: 700;
    text-align: start;
    text-transform: uppercase;
  }
  .address {
    padding-left: 0;
  }

  .contact-info-list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .contact-info-link {
    font-size: 16px;
  }
}

.footer {
  background-color: #313030;
}

.footer.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
}

.social-list-links {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list-links-item:not(:last-child) {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-list-links {
    margin-top: 0;
  }
}
